<div id='posts-list' class="space-y-4">
  <% @posts.each do |post| %>
    
    <%= render(Card::Component.new(title: post.name, subtitle: "#{post.name} - #{post.id}", description: post.description)) %>
  <% end %>
</div>
